:root {

  /* ### Typography */

  --FontBold: 700;

  /* ### Primary */

  --BrightRed: hsl(12, 88%, 59%);
  --BrightGreen: hsl(120, 35%, 49%);
  --DarkBlue: hsl(228, 39%, 23%);

  /* ### Neutral */

  --Opacity: rgba(0, 0, 0, 0.4);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}